.about_section{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}
.about_us__headliner{
    color: #fff;
    font-size: 2rem;
}
.about__us_container{
    /* max-width: 65.5rem; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10rem;
    font-family: "SUSE";
}
.second_section_first_cl{
    position: absolute;
    top: 10vh;
    left: 3.25rem;
}
.second_section_second_cl{
    position: absolute;
    left: 3.25rem;
    top: 40.37rem;
}
.second_section_first_cl{
    left: 80%;
   animation: rotation 2s ease-in-out 2s infinite;
}
.second_section_first_cl:hover{
    animation: rotationstop .5s ease-in-out .5s forwards;
}
.second_section_second_cl{
    top: 65%;
    animation: rotationalt 2s ease-in-out 2s infinite;
}
.second_section_second_cl:hover{
    animation: rotationaltstop .5s ease-in-out .5s forwards;
}
@keyframes rotation{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(180deg);
}
}
@keyframes rotationstop{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes rotationalt{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}
@keyframes rotationaltstop{
    0%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}