.about_section{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.about__us_container p {
    font-size: 2.5vw;
    margin: 0px;
    margin-right: 1vw;
    font-weight: 700;
}
.about__us_container span{
    opacity: 0.2;
}
.about__us_container{
    /* max-width: 65.5rem; */
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding-inline: 10rem;
    font-family: "SUSE";
}
.second_section_first_cl{
    position: absolute;
    top: 20vh;
    left: 10vw;
   animation: rotation 2s ease-in-out 2s infinite;

}
.second_section_second_cl{
    position: absolute;
    left: 3.25rem;
    top: 40.37rem;
    animation: rotationalt 2s ease-in-out 2s infinite;

}
.second_section_first_cl:hover{
    animation: rotationstop .5s ease-in-out .5s forwards;
}

.second_section_second_cl:hover{
    animation: rotationaltstop .5s ease-in-out .5s forwards;
}
@keyframes rotation{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(180deg);
}
}
@keyframes rotationstop{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes rotationalt{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}
@keyframes rotationaltstop{
    0%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media screen and (min-width: 320px) and (max-width: 899px) {
    .about__us_container{
        padding-inline: 1rem;
        margin-top: 10rem;
        width: 90vw;
    }
    .about_section{
        width: 100vw;
    }
    .about__us_container p{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    .about__us_container{
        padding-inline: 4rem;
    }
}