.aux__cursor{
    width: 6.25rem;
    height: 6.25rem;
    background-color: #fff;
    border-radius: 100%;
    position: fixed;
    z-index: 1000;
    /* mix-blend-mode: difference; */
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    /* opacity: 0; */
}
.aux__cursor.visible{
    opacity: 1;
}