.footer__wrapper{
    padding-inline: 10rem;
    width: 100vw;
    height: 50vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}
.footer__headline{
    font-size: 12.5rem;
    user-select: none;

}
.footer__links_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_copyright__links{
    display: flex;
    gap: 1rem;
}
.redunat_2{
    position: relative;
    height: 50vh;
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .footer__headline{
        font-size: 5rem;
    }
    .footer__wrapper{
        padding-inline: 1rem;
        /* gap: 5rem; */
    }
    .footer__links_wrapper{
        position: absolute;
        padding: 2rem;
        bottom: 0;
    }
}