.hireme__wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #423E37;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__hireMe_content{
    background-color: #E3B23C;
    padding: 2rem;
    border-radius: 10px;
}
.content__hire_me__header{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.content__hire_me__cta{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
button{
    padding: 1rem 2rem;
    align-self: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
.hire_me__ul{
    display: flex;
    gap: 1rem;
}
.hire_me__li{
    list-style: none;   
}
.hire_me__li a{
    text-decoration: none;
    color: #000;
}
@media screen and (min-width:320px) and (max-width: 900px) {
    .content__hire_me__header h2 {
        font-size: 1rem;
    }   
.content__hire_me__header h1 {
    font-size: 1.2rem;
}
.content__hire_me__header{
    /* margin-bottom: 2rem; */
}
.main__hireMe_content{
    padding: 1rem;
}
}