.nav_container{
    width: 100vw;
    padding-inline: 10rem;
    height: 6rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    z-index: 9999;
    position: fixed;
    top: 0;
    /* padding-inline: 10rem ; */
}
.nav__menu{
    /* color: #fff; */
    font-size: 1.5rem;
    cursor: pointer;
    mix-blend-mode: difference;
}
.menu{
    mix-blend-mode: difference;
}
@media screen and (min-width: 320px) and (max-width: 899px) {
    .nav_container{
        padding-inline: 1rem;
    } 
}