.notes__wrapper{
    width: 15.6rem;
    height: 15.6rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 2rem;
}
.notes__wrapper{
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}