.reviews__wrapper{
    width: 100%;
    height: 32.75rem;
    /* background-color: red; */
    display: flex;
    gap: 1rem;
    /* user-select: none; */
}
.review{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 15%;
    /* flex: 1; */
    transition: all 2s ease-in-out;
}
/* .review-2{
    width: 55%;
} */
.review__cover_paragraph{
    transform: rotate(-90deg);
    font-size: 1rem;
    opacity: 0.6;
   
}
.review:hover{
    width: 55%;
}
.review__quote{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.quote{
    font-size: 1rem;
    color: #fff;
}
.review__quote_idetifier{
   color: #fff;
   font-size: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .reviews__wrapper{
        flex-direction: column;
        height: auto;
    }
    .review{
        width: 100%;
    }
    .review__quote{
        width: 100%;
        gap: 2rem;
    }
    .review__cover_paragraph{
        display: none;
    }
    .testimonials__headline_paragraph{
        font-size: 2rem;
    }
    .testimonial__close{
        right: 10%;
    }
}