@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: black;
  overflow-x: hidden;
}
/* ::-webkit-scrollbar{
  display: none;
} */
.main{
  display: flex;
  /* width: auto; */
  height: auto;
  /* height: 1200vh */
  width: 120vw;
  
}
.spacer{
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;

}
.main_guy{
  height: 120vh;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}